.detail_header {
	border-bottom: 1px solid #dfdfdf;
}
.detail_header .container {
	height: 74px;
	display: flex;
	align-items: center;
	/* justify-content: flex-end; */
}
.detail_header span {
	font-family: 'NSKR';
	color: #333;
	font-size: 1.5rem;
	letter-spacing: -0.8px;
	word-spacing: 2px;
}
.detail_header span a {
	color: #333;
}
.detail_header span i {
	font-family: 'NSKB';
	word-spacing: 0;
}
.detail_header span img {
	margin-left: 7px;
}
.product_description {
	padding-top: 50px;
	padding-bottom: 56px;
}
.product_description .container {
	display: flex;
	justify-content: space-between;
}
.product_description .right {
	width: 610px;
}

/* 상세 이미지 */
.pd_banner_wrap {
	display: flex;
}
.pd_banner {
	width: 484px;
	border: 1px solid #ccc;
}
.pd_banner img {
	width: 100%;
	display: initial;
}
.pd_thumb_wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-right: 42px;
}
.pd_thumb_wrap .prev {
	transform: rotate(90deg);
}
.pd_thumb_wrap .next {
	transform: rotate(90deg);
}
.pd_thumb_wrap .prev, .pd_thumb_wrap .next {
	cursor: pointer;
}
.pd_thumb {
	width: 69px;
	/* margin: 0 20px; */
}
.pd_thumb .slick-slide {
	border: 1px solid #ccc;
	margin: 2px 0;
}
.pd_thumb .item {
	/* width: 68px !important; */
	/* margin: 2px 0; */
	/* border: 1px solid #ccc; */
	/* vertical-align: middle; */
	/* cursor: pointer; */
}
.pd_thumb .item img {
	display: initial;
	width: 100%;
}
.product_tag {
	width: 595px;
	display: flex;
	flex-wrap: wrap;
	padding-left: 111px;
    margin-top: 24px;
}
.product_tag li {
	margin-bottom: 10px;
}
.product_tag li:not(:last-child) {
	margin-right: 10px;
}
.product_tag a {
	display: inline-block;
	font-size: 1.4rem;
    color: #9f9f9f;
    letter-spacing: -0.8px;
    border: 1px solid #dcdcdc;
    font-family: 'NSKR';
    padding: 4px 10px;
} 
.product_description .right h3 {
	font-size: 2.9rem;
	font-family: 'NSKR';
	color: #222;
	line-height: 36px;
	letter-spacing: -0.8px;
	word-break: keep-all;
}
.product_description .right .select_size {
	/* margin-bottom: 15px; */
	font-size: 2.9rem;
	font-family: 'NSKR';
	color: #222;
	line-height: 36px;
	letter-spacing: -0.8px;
	word-break: keep-all;
	/* border-bottom: 1px solid #1e1e1e; */
	/* padding-bottom: 50px; */
}
.product_description .social-icons {
	height: 53px;
    border-bottom: 1px solid #1e1e1e;
    display: flex;
    justify-content: flex-end;
    padding-left: 111px;
    /* margin-top: 24px; */
}
.product_description .social-icons a {
	transition: transform 0.5s;
	height: 32px;
}
.product_description .social-icons a.link {
	transform: translateX(37px) rotate(540deg);
}
.product_description .social-icons a.facebook {
	transform: translateX(74px) rotate(540deg);
}
.product_description .social-icons a.kakao {
	transform: translateX(111px) rotate(540deg);	
}
.product_description .social-icons a.social {
	position: relative;
}
.product_description .social-icons a.active {
	transform: translateX(0) rotate(0);
}
.product_description .social-icons a:not(:first-child) {
	margin-left: 5px;
}
.description {
	border-bottom: 1px solid #ddd;
	padding-bottom: 18px;
}
.description dl {
	display: flex;
	line-height: 1;
	letter-spacing: -0.5px;
	margin-top: 14px;
	align-items: center;
}
.description dl dt {
	flex: 0 0 118px;
	font-family: 'NSKD';
	font-size: 1.5rem;
	color: #222;
}
.description dl dd {
	font-family: 'NSKD';
	font-size: 1.5rem;
	color: #222;
	line-height: 2.4rem;
}
.description dl dd input[type='text'] {
	text-align: center;
    font-family: 'NSKM';
    letter-spacing: -0.05rem;
    font-size: 1.3rem;
    width: 60px;
	height: 24px;
	border: 1px solid #aaa;
	background-color: #fff;
}
.description .vat {
	font-family: 'NSKB';
	font-size: 2.4rem;
	color: #ec0000;
	margin-right: 30px;
	vertical-align: middle;
}
.description .normal_price {
	text-decoration: line-through;
	color: #9f9f9f;
}
.description .vat i {
	font-size: 1.7rem;
}
.description .price {
	font-family: 'NSKB';
	font-size: 1.7rem;
	color: #222;
	vertical-align: middle;
}
.description2 {
	border-color: #1e1e1e;
}
.description2 dl dt {
	color: #666;
}

/* 개별구매옵션 */
.each_option {
	padding-bottom: 42px;
}
.each_option h4 {
	font-family: 'NSKR';
	font-size: 2.2rem;
	color: #222;
	letter-spacing: -0.8px;
	line-height: 1;
	margin-bottom: 20px;
}
.each_option_table {
	width: 100%;
	font-size: 1.3rem;
	letter-spacing: -0.8px;
}
.each_option_table th {
	background-color: #454845;
	color: #fff;
	height: 36px;
	font-family: 'NSKL';
}
.each_option_table td {
	font-family: 'NSKR';
	height: 35px;
	border-bottom: 1px solid #dfdfdf;
	text-align: center;
	color: #444;
}
.each_option_table td.accept-opt label {
	margin-left: 3px;
}
.sold-out {
	color: #ff5151;
}
.each_option_table select {
	font-family: 'NSKR';
	font-size: 1.3rem;
    letter-spacing: -0.8px;
	padding-left: 1rem;
	background: url('../img/arrow8.png') #fff no-repeat calc(100% - 4px) center;
	padding-right: 18px;
	border: 1px solid #ccc;
}



/* .each_option_table td select {
	text-align: center;
    width: 184px;
    height: 23px;
    border: 1px solid #ccc;
    background: url('../img/arrow7.png') no-repeat right center #fff;
    font-size: 1.5rem;
    color: #444;
    font-family: 'NSKR';
    padding-left: 10px;
    padding-right: 32px;
} */


.each_option_table .select-box {
	width: 240px;
    height: 23px;
	cursor: pointer;
	position: relative;
	user-select: none;
	-ms-user-select: none;
}
.each_option_table .select-box-value {
	height: 100%;
	font-size: 1.4rem;
	border: 1px solid #ccc;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-left: 15px;
	padding-right: 43px;
	position: relative;
	background: url('../img/arrow10.png') no-repeat 217px center;
}
.each_option_table .select-box-value:hover, .each_option_table .select-box-value.active {
	border-color: #f47b2d;
}
.each_option_table .select-box-value:before {
	content: '';
	position: absolute;
	top: 0;
	right: 28px;
	width: 1px;
	height: 100%;
	background-color: #ccc;
}
.each_option_table .option {
	display: none;
    background-color: #fff;
    z-index: 1;
    position: absolute;
    top: 22px;
    left: 0;
    border: 1px solid #f47b2d;
    /* border-top: 0; */
    min-width: 100%;
	max-height: 170px;
	overflow-y: auto;
    white-space: nowrap;
	font-size: 1.3rem;
	text-align: left;
}
.each_option_table .option.active {
	display: block;
}
.each_option_table .option li:first-child {
	background-color: #f9f9f9;
}
.each_option_table .option li {
	padding: 5px 15px;
}
.each_option_table .option li:hover {
	background-color: #eee;
}


.each_option_table .col1 {
	width: 40px;
}
.each_option_table .col3 {
	/* width: 240px; */
}
.each_option_table .col6 {
	/* width: 210px; */
}
.each_option_table .price {
	font-family: 'NSKB';
	font-size: 1.6rem;
	color: #222;
}
.each_option_table .price input[type="text"] {
    text-align: right;
    margin-right: 0.2rem;
    padding-right: 0.4rem;
    font-family: 'NSKM';
    letter-spacing: -0.05rem;
    font-size: 1.3rem;
	width: 90px;
}
.each_option_table input[type="checkbox"] {
	display: none;
}
.each_option_table .select_box .list {
	display: none;
}
.btnCutting {
	width: 87px;
    height: 27px;
    background-color: #27394c;
    color: #fff;
    font-family: 'NSKM';
    font-size: 1.3rem;
}
.btnCutting img {
	margin-right: 5px;
    margin-top: -3px;
    width: 19px;
}
.btnQty {
	width: 26px;
	height: 26px;
	border: 2px solid #e4e4e4;
	vertical-align: middle;
}
.subtract.btnQty {
	background: url('../img/subtract1.png') no-repeat #fff center;
}
input.qty {
	width: 45px;
	height: 26px;
	border: 2px solid #e4e4e4;
	border-left: 0;
	border-right: 0;
	text-align: center;
	vertical-align: middle;
}
.add.btnQty {
	background: url('../img/add1.png') no-repeat #fff center;
}
.total-price {
	text-align: right;
	line-height: 1;
	letter-spacing: -0.8px;
	margin-top: 40px;
}
.total-price .total {
	display: inline-block;
	font-size: 2.0rem;
	color: #222;
	vertical-align: middle;
    margin-top: 4px;
}
.total-price .price {
	display: inline-block;
	color: #ff5151;
	font-family: 'NSKB';
	font-size: 3rem;
	vertical-align: middle;
	min-width: 330px;
	margin-left: 60px;
}
.total-price .price span:last-child {
	color: #ff5151;
    font-size: 2rem;
    margin-top: -6px;
    vertical-align: middle;
    display: inline-block;
}
.each_option_btn {
	margin-top: 28px;
	text-align: right;
}
.each_option_btn button {
	font-size: 1.8rem;
	font-family: 'NSKM';
	letter-spacing: -0.8px;
	margin-left: 10px;
	height: 50px;
}
.each_option_btn .wish_list {
	color: #454845;
	background-color: #fff;
	border: 1px solid #454845;
	width: 190px;
}
.each_option_btn .cart {
	color: #fff;
	background-color: #454845;
	width: 190px;
}
.each_option_btn .buy_now {
	color: #fff;
	background-color: #1f4982;
	width: 320px;
}
/*재고가 없을때 버튼추가*/
.each_option_btn .cart_no {
	color: #fff;
	background-color: #454845;
	width: 190px;
}
.each_option_btn .buy_now_no {
	color: #fff;
	background-color: #1f4982;
	width: 320px;
}

.rel_products {
	padding-bottom: 100px;
}
.rel_products_header {
	height: 72px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.rel_products_header h4 {
	font-family: 'NSKR';
    font-size: 2.2rem;
    color: #222;
    letter-spacing: -0.8px;
}
.rel_products_header div {
	display: flex;
}
.rel_products_header .button {
	width: 32px;
	height: 34px;
	border: 1px solid #cfcfcf;
	cursor: pointer;
}
.rel_products_header .prev {
	border-right: 0;
	background: url('../img/prev2.png') no-repeat center;
}
.rel_products_header .next {
	width: 33px;
	background: url('../img/next2.png') no-repeat center;
}
.rel_products_banner .item .thumb {
	padding-bottom: 20px;
	border-bottom: 1px solid #dfdfdf;
	width: 230px;
	height: 230px;
}
.rel_products_banner .item .thumb img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.rel_products_banner .item h5 {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	font-family: 'NSKR';
	font-size: 1.6rem;
	color: #444;
	line-height: 1;
	margin-top: 20px;
	letter-spacing: -0.8px;
}
.rel_products_banner .item .price {
	font-family: 'NSKB';
	font-size: 1.7rem;
	color: #222;
	letter-spacing: -0.8px;
	line-height: 1;
	margin-top: 8px;
	display: inline-block;
}
.product_info {
	border-top: 1px solid #dfdfdf;
}
.product_info_menu {
	display: flex;
	margin-top: -1px;
}
.product_info_menu li:not(:first-child) {
	margin-left: 50px;
}
.product_info_menu a {
	display: block;
	height: 60px;
	line-height: 60px;
	font-family: 'NSKD';
	font-size: 1.6rem;
	color: #888;
	letter-spacing: -0.8px;
	position: relative;
	overflow: hidden;
}
.product_info_menu a:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 2px;
	background-color: #222;
	transform: scaleX(0);
}
.product_info_menu a.active {
	font-family: 'NSKB';
	color: #222;
	line-height: 61px;
}
.product_info_menu a.active:before {
	transition: transform 0.2s;
	transform: scaleX(1);
}
.product_info_tab {
	padding-top: 30px;
	padding-bottom: 70px;
}
#product_info_tab1, #product_info_tab2 {
	text-align: center;
}
.product_info_tab .reviews_table {
	width: 100%;
	border-top: 2px solid #989898;
}

/* 상품평 */
.reviews_table {
	border-top: 2px solid #989898;
}
.reviews_table .grid {
	padding: 22px 15px;
	border-bottom: 1px solid #d5d5d5;
}
.reviews_table .grid a {
	display: flex;
	align-items: center;
	line-height: 1;
	color: #888;
	letter-spacing: -0.8px;
	font-family: 'NSKD';
}
.reviews_table .thumb {
	flex: 0 0 172px;
}
.reviews_table .thumb img {
	width: 100%;
}
.reviews_table .txt {
	margin-left: 34px;
	flex: 1;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.reviews_table .txt h5 {
	font-family: 'NSKB';
	font-size: 1.7rem;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.reviews_table .txt p {
	margin-top: 26px;
	font-size: 1.5rem;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.reviews_table .star_rating {
	display: flex;
	margin-left: 42px;
	flex: none;
}
.star {
	display: inline-block;
	width: 15px;
	height: 15px;
	background: url('../img/star.png') no-repeat center;
}
.star.on {
	display: inline-block;
	width: 15px;
	height: 15px;
	background: url('../img/star_on.png') no-repeat center;
}
.reviews_table .user_id {
	font-size: 1.7rem;
	margin-left: 32px;
	flex: none;
}
.reviews_table .date {
	font-size: 1.7rem;
	margin-left: 42px;
	flex: none;
}
.pagination_wrap {
	display: flex;
	justify-content: center;
	margin-top: 56px;
}
.pagination_wrap a {
	width: 32px;
	height: 33px;
	font-family: 'NSKD';
	font-size: 1.7rem;
	color: #888;
	line-height: 30px;
	text-align: center;
}
.pagination_wrap a.active {
	background-color: #222;
	color: #fff;
}
.pagination_wrap a.btn {
	transition: 0.1s;
	margin: 0 2px;
}
.pagination_wrap a.btn:hover {
	background-color: #222;
	color: #fff;	
}
.pagination_wrap .prev {
	margin-right: 8px;
	border: 1px solid #ccc;
	background: url('../img/prev4.png') no-repeat center;
}
.pagination_wrap .next {
	margin-left: 8px;
	border: 1px solid #ccc;
	background: url('../img/next4.png') no-repeat center;
}

/* 상품 Q&A */
.qa_table {
	letter-spacing: -0.8px;
	text-align: center;
	font-size: 1.5rem;
	color: #222;
}
.btnQ_wrap {
	text-align: right;
	margin-bottom: 28px;
}
.btnQ_wrap .btnQ {
	width: 180px;
	height: 50px;
	line-height: 50px;
	color: #fff;
	background-color: #8e8e8e;
	letter-spacing: -0.8px;
	font-size: 1.6rem;
	font-family: 'NSKB';
}
.qa_table .head {
	border-top: 2px solid #989898;
	height: 50px;
	align-items: center;
	background-color: #f3faff;
	font-family: 'NSKB';
}
.qa_table .head div {
	font-family: 'NSKB' !important;
}
.qa_table .gridQ {
	height: 57px;
	align-items: center;
}
.qa_table .gridQ .item3 {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	background: url('../img/arrow10.png') no-repeat right center;
}
.qa_table .gridA {
	display: none;
}
.qa_table .tr {
	display: flex;
	border-bottom: 1px solid #eee;
}
.qa_table .tr .item1 {
	flex-basis: 118px;
	text-align: center;
	font-family: 'NSKB';
}
.qa_table .tr .item2 {
	flex-basis:156px;
	font-family: 'NSKB';
}
.qa_table .tr .item3 {
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0;
	text-align: left;
	padding-left: 10px;
	padding-right: 28px;
	font-family: 'NSKR';
}
.qa_table .title {
	cursor: pointer;
	user-select: none;
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10+ and Edge */
	user-select: none; /* Standard syntax */
}
.qa_table .hold {
	color: #38d9a9;
}
.qa_table .compl {
	color: #1864ab;
}
.qa_table .tr .item4 {
	flex: 0 0 182px;
	font-family: 'NSKR';
}
.qa_table .tr .item5 {
	flex: 0 0 120px;
	font-family: 'NSKR';
}
.qa_table .tr .item5 button {
	width: 87px;
	height: 35px;
	border: 1px solid #8e8e8e;
	background-color: #fff;
	font-size: 1.5rem;
	color: #222;
	letter-spacing: -0.8px;
	font-family: 'NSKR';
	line-height: 33px;
}

.qa_table .boxA .item1, .qa_table .boxA .item2, .qa_table .boxA .item4, .qa_table .boxA .item5 {
	height: 68px;
	display: flex;
    justify-content: center;
    align-items: center;
}
.qa_table .boxQ.item1, .qa_table .boxQ .item2, .qa_table .boxQ .item4, .qa_table .boxQ .item5 {
	height: 68px;
	display: flex;
    justify-content: center;
    align-items: center;
}
.qa_table .boxA .item3, .qa_table .boxQ .item3 {
	line-height: 36px;
	padding-top: 16px;
	padding-bottom: 16px;
}
.qa_table .boxA {
	background-color: #f8f9fa;
}

/* 문의하기 팝업 */
.popQuestion {
	position: fixed;
	top: 20px;
	left: 50%;
	transform: translateX(-50%);
	padding: 40px 64px;
	background-color: #fff;
	z-index: 1000001;
	box-shadow: 0 1px 4px rgba(0,0,0,0.1);
	letter-spacing: -0.8px;
	color: #222;
	display: none;
	width: 1000px;
	max-height: calc(100vh - 40px);
	overflow-y: auto;
}
.popQuestion_header {
	height: 23px;
    display: flex;
    justify-content: space-between;
    align-items: center;
	margin-bottom: 16px;
}
.popQuestion_header .title {
	font-size: 1.9rem;
	font-family: 'NSKD';
	line-height: 1;
}
.popQuestion_header .popQuestion_close {
	cursor: pointer;
}
.popQuestion .grid1 {
	font-family: 'NSKD';
	font-size: 1.7rem;
	line-height: 1;
	margin-bottom: 30px;
}
.popQuestion .grid1 span:first-child {
	margin-right: 15px;
}
.popQuestion .grid1 input[type="radio"] {
	display: none;
}
.popQuestion .grid1 label {
	cursor: pointer;
}
.popQuestion .grid1 label:not(:last-child) {
	margin-right: 48px;	
}
.popQuestion .grid1 .radio {
	display: inline-block;
	width: 18px;
	height: 18px;
	background: url('../img/radio_off.png') no-repeat center;
	margin-top: -4px;
    vertical-align: middle;
	margin-right: 3px;
}
.popQuestion .grid1 input[type="radio"]:checked + .radio {
	background-image: url('../img/radio_on.png');
}
.popQuestion .grid1 .star {
	margin-right: -1px;
}
.popQuestion .grid2 {
	margin-bottom: 10px;
}
.popQuestion .grid2 input {
	width: 100%;
	height: 38px;
	border: 1px solid #eee;
	padding: 0 21px;
	font-family: 'NSKR';
	font-size: 1.5rem;
	letter-spacing: -0.8px;
}
.popQuestion .grid2 input::placeholder {
	color: #b5b5b5;
	font-family: 'NSKL';
	font-size: 1.5rem;
}
.popQuestion .grid3 {
	margin-bottom: 10px;
}
.popQuestion .grid3 textarea {
	width: 100%;
    height: 210px;
    resize: none;
    border: 1px solid #eee;
    padding: 10px 21px;
    font-family: 'NSKR';
    font-size: 1.5rem;
    letter-spacing: -0.8px;
    line-height: 30px;
}
.popQuestion .grid3 textarea::placeholder {
	color: #b5b5b5;
	font-family: 'NSKL';
	font-size: 1.5rem;
}
.popQuestion .grid4 {
	margin-bottom: 10px;
	font-family: 'NSKD';
	font-size: 1.5rem;
	line-height: 1;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.popQuestion .grid4 label {
	cursor: pointer;
}
.popQuestion .grid4 input[type="checkbox"] {
	display: none;
}
.popQuestion .grid4 input[type="checkbox"] + .checkbox {
    margin-top: -3px;
	margin-right: 8px;
}
.popQuestion .grid5 {
	margin-bottom: 80px;
}
.popQuestion .grid5 p {
	font-family: 'NSKL';
	font-size: 1.4rem;
	color: #888;
	line-height: 1;
}
.popQuestion .grid5 p:not(:first-child) {
	margin-top: 10px;
}
.popQuestion .grid6 {
	text-align: center;
	margin-top: 40px;
}
.popQuestion .grid6 button {
	width: 140px;
	height: 50px;
	background-color: #fff;
	border: 1px solid #666;
	font-size: 1.8rem;
	font-family: 'NSKB';
	color: #222;
	letter-spacing: -0.8px;
	margin: 0 5px;
}
.popQuestion .grid6 button:first-child {
	background-color: #024388;
	color: #fff;
}
.buy_intention {
	border-top: 1px solid #ddd;
    letter-spacing: -0.8px;
    position: fixed;
    left: 0;
    bottom: 0;
	transform: translateY(100%);
    width: 100%;
    background: #fff;
    z-index: 1;
	transition: transform 0.2s;
	display: none;
}
.buy_intention.show {
	display: block;
}
.buy_intention .container {
	display: flex;
	position: relative;
}
.buy_intention .left {
	padding: 40px 0;
	flex: 0 0 946px;
	border-right: 1px solid #ddd;
	padding-right: 32px;
}
.buy_intention .right {
	flex: 0 0 calc(100% - 946px);
	padding: 40px 30px;
	min-height: 316px;
}
.buy_intention.active {
	transform: translateY(0);
}
.buy_intention .toggleBtn {
	position: absolute;
	left: 0;
	top: 0;
	transform: translateY(-100%);
	cursor: pointer;
	width: 190px;
	height: 40px;
	line-height: 39px;
	text-align: center;
	background-color: #27394c;
	/* border: 1px solid #ddd; */
	font-family: 'NSKB';
	font-size: 2.0rem;
	color: #fff;
	text-shadow: 0 0 3px rgba(0,0,0,0.7);
}
.buy_intention .toggleBtn img {
	transform: rotate(180deg);
	margin-right: 5px;
	margin-left: -5px;
    margin-top: -2px;
}
.buy_intention .toggleBtn.active img {
	transform: rotate(0);
}
.buy_intention_header {
	font-family: 'NSKR';
	font-size: 2.2rem;
	color: #222;
	line-height: 1;
	padding-bottom: 30px;
	margin-bottom: 30px;
	border-bottom: 1px solid #454845;
}
.buy_intention_header h4 {
	margin-bottom: 10px;
}
.product_list_wrap {
	max-height: 483px;
	overflow-y: auto;
}
.product_list_wrap input[type="checkbox"] {
	display: none;
}
.product_list {
	color: #444;
	height: 35px;
	display: flex;
	align-items: center;
	padding: 0 20px;
	padding-right: 0;
	background-color: #f6f6f6;
	font-size: 1.3rem;
}
.product_list:not(:first-child) {
	margin-top: 5px;
}
.product_list .item1 {
	/* flex: 1; */
	width: 18px;
	margin-right: 21px ;
	font-family: 'NSKR';
}
.product_list .item2 {
	/* flex: 0 0 auto; */
	width: 268px;
	margin-right: 30px ;
}
.product_list .item3 {
	/* flex: 0 0 auto; */
	margin-right: 30px;
	width: 140px;
}
.product_list .item4 {
	flex: 0 0 120px;
	font-family: 'NSKB';
	font-size: 1.6rem;
	color: #222;
}
.product_list .item5 {
	margin-right: 30px;
	width: 97px;
	text-align: center;
}
.product_list .item5 img {
	cursor: pointer;
}
.product_list .item6 input {
	background-color: #fff;
    border: 1px solid #ccc;
    text-align: right;
    padding-right: 0.4rem;
    margin-right: 0.2rem;
	width: 90px;
}
.buy_intention .total {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	line-height: 1;
}
.buy_intention .total span:first-child {
	font-family: 'NSKM';
	font-size: 2.0rem;
	color: #222;
}
.buy_intention .total span:last-child {
	font-family: 'NSKB';
	font-size: 3.0rem;
	color: #ff5151;
}
.buy_intention .vat {
	font-family: 'NSKB';
	font-size: 2.0rem;
	color: #ff5151;
	text-align: right;
	margin-bottom: 28px;
}
.buy_intention_btn button {
	width: 100%;
	height: 70px;
	font-size: 1.7rem;
	font-family: 'NSKM';
	letter-spacing: -0.8px;
}
.buy_intention_btn .cart {
	background-color: #fff;
	border: 1px solid #454845;
	color: #454845;
	margin-bottom: 9px;
}
.buy_intention_btn .buy_now {
	background-color: #1f4982;
	color: #fff;
}
/*간편주문*/
.buy_intention_btn .cart_quick {
	background-color: #fff;
	border: 1px solid #454845;
	color: #454845;
	margin-bottom: 9px;
}
.buy_intention_btn .buy_now_quick {
	background-color: #1f4982;
	color: #fff;
}

.buy_intention_btn .cart_quick_no {
	background-color: #fff;
	border: 1px solid #454845;
	color: #454845;
	margin-bottom: 9px;
}
.buy_intention_btn .buy_now_quick_no {
	background-color: #1f4982;
	color: #fff;
}