@charset "UTF-8";

/* * {
	margin: 0;
	padding: 0;
}
.owl-dot {
	outline: none;
}
.owl-dot span {
	display: block;
	width: 20px;
	height: 20px;
	background: #eee;
	border-radius: 50%;
}
.owl-dot.active span {
	background: #aaa;
} */
/* h3 {
	position: absolute;
	top: 100px;
	left: 100px;
	opacity: 0;
	transition: 2s 1s;
}
.owl-item.active h3 {
	opacity: 1;
} */